<ng-container *ngIf="place">
  <section class="hero is-primary is-medium place-hero" [style]="{ 'background-image': place.pictureUrl ? 'url(' + place.pictureUrl + ')' : '' }">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">{{ place.title }}</h1>
        <p class="subtitle mb-0">{{ place.type }}</p>
        <bar-rating [(rate)]="place.rating" theme="stars" [readOnly]="true"></bar-rating>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="box over-top-box">
        <form (submit)="registerRating()" ngNativeValidate>
          <h2 class="title">Nova Avaliação</h2>
          <div class="columns is-multiline">
            <div class="column is-9">
              <div class="field">
                <label for="title">Título</label>
                <div class="control">
                  <input
                    type="text"
                    class="input"
                    name="title"
                    id="title"
                    required
                    [(ngModel)]="rating.title">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="field">
                <label for="rating">
                    Nota <bar-rating name="rating" theme="stars" [(ngModel)]="rating.rating" [max]="5" required class="input-stars"></bar-rating>
                </label>
                <div class="control">
                  <input
                    type="number"
                    max="5"
                    min="1"
                    class="input"
                    name="rating"
                    id="rating"
                    required
                    [(ngModel)]="rating.rating">
                </div>
              </div>
            </div>
            <div class="column is-12">
              <div class="field">
                <label for="comment">Comentário</label>
                <div class="control">
                  <textarea class="textarea" name="comment" id="comment" rows="2"
                  required
                  [(ngModel)]="rating.comment"></textarea>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label for="strengths">Pontos positivos</label>
                <div class="control">
                  <textarea class="textarea" name="strengths" id="strengths" rows="2"
                  [(ngModel)]="rating.strengths"></textarea>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label for="weaknesses">Pontos negativos</label>
                <div class="control">
                  <textarea class="textarea" name="weaknesses" id="weaknesses" rows="2"
                  [(ngModel)]="rating.weaknesses"></textarea>
                </div>
              </div>
            </div>
            <div class="column is-12">
              <h3 class="title is-4">Acessibilidades</h3>
            </div>
            <div class="column is-3">
              <div class="field">
                <label><b>Banheiro acessível</b></label><br>
                <input type="radio" id="ba_e" name="banheiro_acessivel" value="Encontrei" [(ngModel)]="accessibilities.banheiro_acessivel" required>
                <label for="ba_e">Encontrei</label><br>
                <input type="radio" id="ba_ne" name="banheiro_acessivel" value="Não encontrei" [(ngModel)]="accessibilities.banheiro_acessivel">
                <label for="ba_ne">Não Encontrei</label><br>
                <input type="radio" id="ba_ns" name="banheiro_acessivel" value="Não sei" [(ngModel)]="accessibilities.banheiro_acessivel">
                <label for="ba_ns">Não sei</label>
              </div>
            </div>
            <div class="column is-3">
              <div class="field">
                <label><b>Circulação interna</b></label><br>
                <input type="radio" id="ci_e" name="circulacao_interna" value="Encontrei" [(ngModel)]="accessibilities.circulacao_interna" required>
                <label for="ci_e">Encontrei</label><br>
                <input type="radio" id="ci_ne" name="circulacao_interna" value="Não encontrei" [(ngModel)]="accessibilities.circulacao_interna">
                <label for="ci_ne">Não Encontrei</label><br>
                <input type="radio" id="ci_ns" name="circulacao_interna" value="Não sei" [(ngModel)]="accessibilities.circulacao_interna">
                <label for="ci_ns">Não sei</label>
              </div>
            </div>
            <div class="column is-3">
              <div class="field">
                <label><b>Entrada facilitada</b></label><br>
                <input type="radio" id="ef_e" name="entrada_facilitada" value="Encontrei" [(ngModel)]="accessibilities.entrada_facilitada" required>
                <label for="ef_e">Encontrei</label><br>
                <input type="radio" id="ef_ne" name="entrada_facilitada" value="Não encontrei" [(ngModel)]="accessibilities.entrada_facilitada">
                <label for="ef_ne">Não Encontrei</label><br>
                <input type="radio" id="ef_ns" name="entrada_facilitada" value="Não sei" [(ngModel)]="accessibilities.entrada_facilitada">
                <label for="ef_ns">Não sei</label>
              </div>
            </div>
            <div class="column is-3">
              <div class="field">
                <label><b>Estacionamento</b></label><br>
                <input type="radio" id="e_e" name="estacionamento" value="Encontrei" [(ngModel)]="accessibilities.estacionamento" required>
                <label for="e_e">Encontrei</label><br>
                <input type="radio" id="e_ne" name="estacionamento" value="Não encontrei" [(ngModel)]="accessibilities.estacionamento">
                <label for="e_ne">Não Encontrei</label><br>
                <input type="radio" id="e_ns" name="estacionamento" value="Não sei" [(ngModel)]="accessibilities.estacionamento">
                <label for="e_ns">Não sei</label>
              </div>
            </div>
            <div class="column is-3">
              <div class="field">
                <label><b>Sinalização</b></label><br>
                <input type="radio" id="s_e" name="sinalizacao" value="Encontrei" [(ngModel)]="accessibilities.sinalizacao" required>
                <label for="s_e">Encontrei</label><br>
                <input type="radio" id="s_ne" name="sinalizacao" value="Não encontrei" [(ngModel)]="accessibilities.sinalizacao">
                <label for="s_ne">Não Encontrei</label><br>
                <input type="radio" id="s_ns" name="sinalizacao" value="Não sei" [(ngModel)]="accessibilities.sinalizacao">
                <label for="s_ns">Não sei</label>
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label><b>Posicionamento atitudinal positivo</b></label><br>
                <input type="radio" id="pap_e" name="pap" value="Encontrei" [(ngModel)]="accessibilities.pap" required>
                <label for="pap_e">Encontrei</label><br>
                <input type="radio" id="pap_ne" name="pap" value="Não encontrei" [(ngModel)]="accessibilities.pap">
                <label for="pap_ne">Não Encontrei</label><br>
                <input type="radio" id="pap_ns" name="pap" value="Não sei" [(ngModel)]="accessibilities.pap">
                <label for="pap_ns">Não sei</label>
              </div>
            </div>
          </div>
          <p>Ao avaliar um estabelecimento você concorda em publicar a avaliação juntamente com o seu nome.</p>
          <br>
          <div class="field">
            <button type="submit" class="button is-fullwidth is-primary">Avaliar</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</ng-container>
