<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5">
          <div class="box px-6 py-6">
            <h1 class="title has-text-dark">Cadastrar</h1>
            <p class="subtitle has-text-dark">
              Insira seus dados para cadastrar sua conta
            </p>
            <form (submit)="signup()" ngNativeValidate>
              <div class="field">
                <label for="name">Nome</label>
                <div class="control">
                  <input type="text" class="input" name="name" id="name" required [(ngModel)]="register.name">
                </div>
              </div>
              <div class="field">
                <label for="email">E-mail</label>
                <div class="control">
                  <input type="email" class="input" autocomplete="email" name="email" id="email" required [(ngModel)]="register.email">
                </div>
              </div>
              <div class="field">
                <label for="phone">Celular <small>(opcional)</small></label>
                <div class="control">
                  <input type="tel" class="input" name="phone" id="phone" [(ngModel)]="register.phone">
                </div>
              </div>
              <div class="field">
                <label for="deficiency">Deficiência</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select class="input" name="deficiency" id="deficiency" [(ngModel)]="register.deficiency">
                      <option value="">Selecione...</option>
                      <option value="Física">Física</option>
                      <option value="Auditiva">Auditiva</option>
                      <option value="Visual">Visual</option>
                      <option value="Intelectual">Intelectual</option>
                      <option value="Múltipla">Múltipla</option>
                      <option value="Nenhuma">Nenhuma</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <label for="password">Senha</label>
                <div class="control">
                  <input type="password" class="input" autocomplete="new-password" name="password" id="password" required [(ngModel)]="register.password">
                </div>
              </div>
              <br>
              <div class="field">
                <button type="submit" class="button is-fullwidth is-primary">Cadastrar</button>
              </div>
              <br>
              <div class="has-text-centered">
                <a href="/entrar">Já tenho uma conta</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>