<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5">
          <div class="box px-6 py-6">
            <h1 class="title has-text-dark">
              {{ emailWasSent ? 'E-mail enviado' : 'Recuperar conta' }}
            </h1>
            <div *ngIf="step === 1">
              <div *ngIf="emailWasSent">
                <p>
                  Um e-mail com o link de recuperação foi enviado para {{ email }}.
                  <br><br>
                  Clique no link no e-mail para criar uma nova senha.
                </p>
              </div>
              <div *ngIf="!emailWasSent">
                <p class="subtitle has-text-dark">
                  Insira seus dados para receber um e-mail para recuperar sua conta
                </p>
                <form (submit)="sendEmail()" ngNativeValidate>
                  <div class="field">
                    <label for="email">E-mail</label>
                    <div class="control">
                      <input
                        type="email"
                        class="input"
                        name="email"
                        id="email"
                        required
                        [(ngModel)]="email">
                    </div>
                  </div>
                  <br>
                  <div class="field">
                    <button type="submit" class="button is-fullwidth is-primary">Enviar e-mail de recuperação</button>
                  </div>
                  <br>
                  <div class="has-text-centered">
                    <a href="/entrar">Voltar</a>
                  </div>
                </form>
              </div>
            </div>
            <div *ngIf="step === 2">
              <p class="subtitle has-text-dark">
                Insira sua nova senha para recuperar sua conta
              </p>
              <form (submit)="changePassword()" ngNativeValidate>
                <div class="field">
                  <label for="password">Senha</label>
                  <div class="control">
                    <input type="password"
                      class="input"
                      name="new-password"
                      id="password"
                      required
                      [(ngModel)]="newPassword">
                  </div>
                </div>
                <br>
                <div class="field">
                  <button type="submit" class="button is-fullwidth is-primary">Atualizar senha e entrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
