<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">Novo Estabelecimento</h1>
      <p class="subtitle">Preencha o formulário abaixo para cadastrar um novo estabelecimento</p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="box over-top-box">
      <form (submit)="registerPlace()" ngNativeValidate>
        <div class="columns is-multiline">
          <div class="column is-8">
            <h2 class="title">Informações Principais</h2>
            <div class="columns is-multiline">
              <div class="column is-8">
                <div class="field">
                  <label for="estabelecimento">Nome do estabelecimento</label>
                  <div class="control">
                    <input type="text" class="input" name="estabelecimento" id="estabelecimento" required
                      [(ngModel)]="place.title">
                  </div>
                </div>
              </div>
              <div class="column is-4">
                <div class="field">
                  <label for="type">Tipo</label>
                  <div class="control select">
                    <select [(ngModel)]="place.type" class="input" name="type" id="type">
                      <option value="">Selecione...</option>
                      <option value="Academia">Academia</option>
                      <option value="Aeroporto">Aeroporto</option>
                      <option value="Banco">Banco</option>
                      <option value="Clínica">Clínica</option>
                      <option value="Diversão">Diversão</option>
                      <option value="Escola">Escola</option>
                      <option value="Faculdade">Faculdade</option>
                      <option value="Farmácia">Farmácia</option>
                      <option value="Hospital">Hospital</option>
                      <option value="Hotel">Hotel</option>
                      <option value="Loja">Loja</option>
                      <option value="Mercado">Mercado</option>
                      <option value="Motel">Motel</option>
                      <option value="Prédio Público">Prédio Público</option>
                      <option value="Restaurante">Restaurante</option>
                      <option value="Rodoviária">Rodoviária</option>
                      <option value="Salão de Beleza">Salão de Beleza</option>
                      <option value="Shopping">Shopping</option>
                      <option value="Super Mercado">Super Mercado</option>
                      <option value="Terminal Hidroviário">Terminal Hidroviário</option>
                      <option value="Outros">Outros</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="column is-4">
                <div class="field">
                  <label for="cnpj">CNPJ <small>(opcional)</small></label>
                  <div class="control">
                    <input type="text" class="input" name="cnpj" id="cnpj" [(ngModel)]="place.cnpj">
                  </div>
                </div>
              </div>
              <div class="column is-4">
                <div class="field">
                  <label for="phone">Telefone <small>(opcional)</small></label>
                  <div class="control">
                    <input type="tel" class="input" name="phone" id="phone" [(ngModel)]="place.phone">
                  </div>
                </div>
              </div>
              <div class="column is-4">
                <div class="field">
                  <label for="link">URL <small>(opcional)</small></label>
                  <div class="control">
                    <input type="url" class="input" name="link" id="link" [(ngModel)]="place.link">
                  </div>
                </div>
              </div>
              <div class="column is-12">
                <div class="field">
                  <label for="description">Descrição <small>(opcional)</small></label>
                  <div class="control">
                    <input class="input" name="description" id="description" [(ngModel)]="place.address.description">
                  </div>
                </div>
              </div>
              <div class="column is-12">
                <label for="image">Imagem <small>(Banner 3x1)</small></label>
                <div class="file is-fullwidth" [class.has-name]="imageToUpload?.name">
                  <label class="file-label">
                    <input class="file-input" id="image" required type="file" name="image"
                      (change)="handleImageInput($event.target.files)">
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                        Selecione uma imagem...
                      </span>
                    </span>
                    <span class="file-name" *ngIf="imageToUpload?.name">
                      {{ imageToUpload?.name }}
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <h2 class="title">Itens de Design Inclusivo</h2>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="accessibilities.banheiro_acessivel" name="banheiro_acessivel">
                Banheiro acessível
              </label>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="accessibilities.circulacao_interna" name="circulacao_interna">
                Circulação interna
              </label>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="accessibilities.entrada_facilitada" name="entrada_facilitada">
                Entrada facilitada
              </label>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="accessibilities.estacionamento" name="estacionamento">
                Estacionamento
              </label>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="accessibilities.sinalizacao" name="sinalizacao">
                Sinalização
              </label>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="accessibilities.site_acessivel" name="site_acessivel">
                Site acessível
              </label>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="accessibilities.pap" name="pap">
                Atendimento receptivo
              </label>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="accessibilities.inclusivo_colaboradores"
                  name="inclusivo_colaboradores">
                Inclusivo com colaboradores
              </label>
            </div>
          </div>

          <div class="column is-12">
            <h2 class="title">Endereço</h2>
          </div>
          <div class="column is-3">
            <div class="field">
              <label for="zipcode">CEP</label>
              <div class="control">
                <input type="tel" (change)="getAddress()" class="input" name="zipcode" id="zipcode" required
                  maxlength="9" [(ngModel)]="place.address.zipCode">
              </div>
            </div>
          </div>
          <div class="column is-2">
            <div class="field">
              <label for="state">Estado</label>
              <div class="control select">
                <select (change)="getCities()" [(ngModel)]="place.address.state" class="input" name="state" required
                  id="state">
                  <option value="">Selecione...</option>
                  <option value="AC">Acre</option>
                  <option value="AL">Alagoas</option>
                  <option value="AP">Amapá</option>
                  <option value="AM">Amazonas</option>
                  <option value="BA">Bahia</option>
                  <option value="CE">Ceará</option>
                  <option value="DF">Distrito Federal</option>
                  <option value="ES">Espírito Santo</option>
                  <option value="GO">Goiás</option>
                  <option value="MA">Maranhão</option>
                  <option value="MT">Mato Grosso</option>
                  <option value="MS">Mato Grosso do Sul</option>
                  <option value="MG">Minas Gerais</option>
                  <option value="PA">Pará</option>
                  <option value="PB">Paraíba</option>
                  <option value="PR">Paraná</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PI">Piauí</option>
                  <option value="RJ">Rio de Janeiro</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="RS">Rio Grande do Sul</option>
                  <option value="RO">Rondônia</option>
                  <option value="RR">Roraima</option>
                  <option value="SC">Santa Catarina</option>
                  <option value="SP">São Paulo</option>
                  <option value="SE">Sergipe</option>
                  <option value="TO">Tocantins</option>
                  <option value="EX">Estrangeiro</option>
                </select>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="field">
              <label for="city">Cidade</label>
              <div class="control">
                <input type="text" class="input" name="city" id="city" required [(ngModel)]="place.address.city">
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="field">
              <label for="neighborhood">Bairro</label>
              <div class="control">
                <input type="text" class="input" name="neighborhood" id="neighborhood" required
                  [(ngModel)]="place.address.neighborhood">
              </div>
            </div>
          </div>
          <div class="column is-5">
            <div class="field">
              <label for="street">Logradouro</label>
              <div class="control">
                <input type="text" class="input" name="street" id="street" required [(ngModel)]="place.address.street">
              </div>
            </div>
          </div>
          <div class="column is-2">
            <div class="field">
              <label for="number">Número</label>
              <div class="control">
                <input type="tel" class="input" name="number" id="number" required [(ngModel)]="place.address.number">
              </div>
            </div>
          </div>
          <div class="column is-5">
            <div class="field">
              <label for="complement">Complemento <small>(opcional)</small></label>
              <div class="control">
                <input type="text" class="input" name="complement" id="complement"
                  [(ngModel)]="place.address.complement">
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="field">
          <button type="submit" class="button is-fullwidth is-primary">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</section>