<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title is-1">Usuários</h1>
          <p class="subtitle">Aqui você pode ver usuários</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="box over-top-box">
      <h3 class="title is-5">Buscar</h3>
      <div class="columns is-multiline">
        <div class="column is-3">
          <div class="field">
            <label for="usuario">Nome</label>
            <div class="control">
              <input [(ngModel)]="filter.name" class="input" type="text" id="usuario" name="usuario">
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="field">
            <label for="usuario">E-mail</label>
            <div class="control">
              <input [(ngModel)]="filter.email" class="input" type="text" id="usuario" name="usuario">
            </div>
          </div>
        </div>        
        <div class="column is-2">
          <div class="field">
            <label for="type">Tipo</label>
            <div class="control">
              <div class="select">
                <select [(ngModel)]="filter.role" class="input" name="role" id="role">
                  <option value="">Selecione...</option>
                  <option value="administrator">administrator</option>
                  <option value="user">user</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="buttons is-right">
            <button class="button is-light" type="button" (click)="cleanFiltersAndSearch()">
              Limpar
            </button>
            <button class="button is-link" type="button" (click)="pagination.offset = 0; getUsers()">
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>    
    <p *ngIf="users.length === 0" class="has-text-grey has-text-centered">Não encontramos nenhum resultado.</p>
    <table class="table is-fullwidth is-striped" *ngIf="users.length > 0">
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Celular</th>
        <th>Deficiência</th>
        <th>Permissão</th>
      </tr>
      <tr *ngFor="let user of users; let index = index">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.deficiency }}</td>
        <td>{{ user.role }}</td>
      </tr>
    </table>
    <div class="level">
      <div class="level-left">
        <nav class="pagination is-centered" role="navigation" aria-label="paginação">
          <button class="pagination-previous"
            (click)="this.pagination.offset = pagination.offset - this.pagination.limit; getUsers()"
            [disabled]="pagination.offset === 0">
            <span class="icon">
              <i class="fas fa-chevron-left"></i>
            </span>
            <span>
              Anterior
            </span>
          </button>
          <button class="pagination-next"
            (click)="this.pagination.offset = pagination.offset + this.pagination.limit; getUsers()"
            [disabled]="pagination.total <= pagination.offset + this.pagination.limit">
            <span>
              Próxima
            </span>
            <span class="icon">
              <i class="fas fa-chevron-right"></i>
            </span>
          </button>
          <ul class="pagination-list">
            <li *ngFor="let n of numPages(); let i = index;">
              <button class="pagination-link is-current"
                (click)="this.pagination.offset = i * this.pagination.limit; getUsers()"
                [attr.aria-label]="'Página ' + ((pagination.offset + this.pagination.limit) / this.pagination.limit)"
                aria-current="página">
                Página {{ i+1 }}
              </button>
            </li>
          </ul>
        </nav>
      </div>
      <div class="level-right">
        <div class="field">
          <label for="perPage">Usuários por página</label>
          <div class="control select">
            <select (change)="getUsersPerPage()" [(ngModel)]="this.pagination.limit" class="input" name="perPage"
              [disabled]="pagination.total == 0" id="perPage">
              <option value="9">9</option>
              <option value="18">18</option>
              <option value="36">36</option>
              <option value="72">72</option>
            </select>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>