<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title is-1">Usuários</h1>
          <p class="subtitle">Aqui você pode ver usuários</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <!-- <div class="box over-top-box">
      <h3 class="title is-5">Buscar</h3>
      <div class="columns is-multiline">
        <div class="column is-3">
          <div class="field">
            <label for="estabelecimento">Nome do estabelecimento</label>
            <div class="control">
              <input [(ngModel)]="filter.titulo" class="input" type="text" id="estabelecimento" name="estabelecimento">
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div class="field">
            <label for="tipo">Tipo</label>
            <div class="control">
              <div class="select">
                <select [(ngModel)]="filter.tipo" class="input" name="tipo" id="tipo">
                  <option value="">Selecione...</option>
                  <option value="restaurante">Restaurante</option>
                  <option value="academia">Academia</option>
                  <option value="mercado">Mercado</option>
                  <option value="salao_de_beleza">Salão de Beleza</option>
                  <option value="banco">Banco</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div class="field">
            <label for="status">Situação</label>
            <div class="control">
              <div class="select">
                <select [(ngModel)]="filter.status" class="input" name="status" id="status">
                  <option value="">Selecione...</option>
                  <option value="pendente">Pendente</option>
                  <option value="aprovado">Aprovado</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div class="field">
            <label for="estado">Estado</label>
            <div class="control">
              <div class="select">
                <select (change)="getCities()"
                  [(ngModel)]="filter.estado"
                  class="input"
                  name="estado"
                  id="estado">
                  <option value="">Selecione...</option>
                  <option value="AC">Acre</option>
                  <option value="AL">Alagoas</option>
                  <option value="AP">Amapá</option>
                  <option value="AM">Amazonas</option>
                  <option value="BA">Bahia</option>
                  <option value="CE">Ceará</option>
                  <option value="DF">Distrito Federal</option>
                  <option value="ES">Espírito Santo</option>
                  <option value="GO">Goiás</option>
                  <option value="MA">Maranhão</option>
                  <option value="MT">Mato Grosso</option>
                  <option value="MS">Mato Grosso do Sul</option>
                  <option value="MG">Minas Gerais</option>
                  <option value="PA">Pará</option>
                  <option value="PB">Paraíba</option>
                  <option value="PR">Paraná</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PI">Piauí</option>
                  <option value="RJ">Rio de Janeiro</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="RS">Rio Grande do Sul</option>
                  <option value="RO">Rondônia</option>
                  <option value="RR">Roraima</option>
                  <option value="SC">Santa Catarina</option>
                  <option value="SP">São Paulo</option>
                  <option value="SE">Sergipe</option>
                  <option value="TO">Tocantins</option>
                  <option value="EX">Estrangeiro</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="field">
            <label for="cidade">Cidade</label>
            <ng-select class="custom" [items]="cities | async"
              [virtualScroll]="true"
              bindLabel="nome"
              bindValue="nome"
              id="cidade"
              [(ngModel)]="filter.cidade">
            </ng-select>
          </div>
        </div>
        <div class="column is-12">
          <div class="buttons is-right">
            <button class="button is-light" type="button" (click)="cleanFiltersAndSearch()">
              Limpar
            </button>
            <button class="button is-link" type="button" (click)="pagination.offset = 0; getPlaces()">
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <p *ngIf="users.length === 0" class="has-text-grey has-text-centered">Não encontramos nenhum resultado.</p>
    <table class="table is-fullwidth is-striped" *ngIf="users.length > 0">
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Celular</th>
        <th>Deficiência</th>
        <th>Permissão</th>
      </tr>
      <tr *ngFor="let user of users; let index = index">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.deficiency }}</td>
        <td>{{ user.role }}</td>
      </tr>
    </table>
    <!-- <br><br>
    <nav class="pagination is-centered" role="navigation" aria-label="paginação">
      <button class="pagination-previous"
        (click)="this.pagination.offset = pagination.offset - this.pagination.limit; getUsers()"
        [disabled]="pagination.offset === 0">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span>
          Anterior
        </span>
      </button>
      <button class="pagination-next"
        (click)="this.pagination.offset = pagination.offset + this.pagination.limit; getUsers()"
        [disabled]="pagination.total <= pagination.offset + this.pagination.limit">
        <span>
          Próxima
        </span>
        <span class="icon">
          <i class="fas fa-chevron-right"></i>
        </span>
      </button>
      <ul class="pagination-list">
        <li>
          <a class="pagination-link is-current"
            [attr.aria-label]="'Página ' + ((pagination.offset + this.pagination.limit) / this.pagination.limit)"
            aria-current="página">
            Página {{ (pagination.offset + this.pagination.limit) / this.pagination.limit }}
          </a>
        </li>
      </ul>
    </nav> -->
  </div>
</section>