<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" [class]="{ 'is-transparent': navbarIsTransparent }">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <span class="title is-4">
          <span class="icon">
            <!-- <i class="fas fa-blind"></i> -->
            <i class="fab fa-accessible-icon"></i>
            <!-- <i class="fas fa-dove"></i> -->
            <!-- <i class="fab fa-balloon"></i> -->
          </span>
          <span>
            Sem Barreiras
          </span>
        </span>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" (click)="toggleMenu()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" [class]="{ 'is-active': menuIsActive }">
      <div class="navbar-start">
        <a routerLink="/" routerLinkActive="is-active" class="navbar-item">
          Estabelecimentos
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a routerLink="/cadastrar" routerLinkActive="is-active" class="button is-primary">
              <strong>Cadastrar</strong>
            </a>
            <a routerLink="/entrar" routerLinkActive="is-active" class="button is-primary is-outlined" [class]="{ 'is-inverted': navbarIsTransparent }">
              Entrar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer has-text-centered">
  <div class="container">
    <p>Desenvolvido por <a href="https://hildor.com.br" target="_blank">QVS</a></p>
  </div>
</footer>