.has-cs-subtitle {
  &:after {
    content: "por Conexão Solidária RS";
    position: absolute;
    width: 100%;
    font-size: 11px;
    bottom: 4px;
    left: 72px;
    color: #888;
  }
}

.center{
  display: flex;
  justify-content: center;
  left: 72px;
  width: 100%;
}

.navbar-burger {
  background: transparent;
  border: none;
}
