.has-cs-subtitle {
  &:after {
    content: "por Conexão Solidária RS";
    position: absolute;
    width: 100%;
    font-size: 11px;
    bottom: 4px;
    left: 72px;
    color: #888;
  }
}

.navbar-burger {
  background: transparent;
  border: none;
}

.supporters {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  height: 50px;
  img {
    height: 100%;
  }
}