<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-3">Encontre estabelecimentos acessíveis</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="box over-top-box">
      <h3 class="title is-5">Buscar</h3>
      <div class="columns is-multiline">
        <div class="column is-3">
          <div class="field">
            <label for="estabelecimento">Nome do estabelecimento</label>
            <div class="control">
              <input [(ngModel)]="filter.title" class="input" type="text" id="estabelecimento" name="estabelecimento">
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="field">
            <label for="type">Tipo</label>
            <div class="control select">
              <select [(ngModel)]="filter.type" class="input" name="type" id="type">
                <option value="">Selecione...</option>
                <option value="Restaurante">Restaurante</option>
                <option value="Academia">Academia</option>
                <option value="Mercado">Mercado</option>
                <option value="Super Mercado">Super Mercado</option>
                <option value="Salão de Beleza">Salão de Beleza</option>
                <option value="Banco">Banco</option>
                <option value="Loja">Loja</option>
                <option value="Escola">Escola</option>
                <option value="Faculdade">Faculdade</option>
                <option value="Hotel">Hotel</option>
                <option value="Motel">Motel</option>
                <option value="Clínica">Clínica</option>
                <option value="Hospital">Hospital</option>
                <option value="Farmácia">Farmácia</option>
                <option value="Shopping">Shopping</option>
                <option value="Aeroporto">Aeroporto</option>
                <option value="Rodoviária">Rodoviária</option>
                <option value="Terminal Hidroviário">Terminal Hidroviário</option>
                <option value="Prédio Público">Prédio Público</option>
              </select>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="field">
            <label for="state">Estado</label>
            <div class="control select">
              <select (change)="getCities()"
                [(ngModel)]="filter.state"
                class="input"
                name="state"
                id="state">
                <option value="">Selecione...</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                <option value="EX">Estrangeiro</option>
              </select>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="field">
            <label for="city">Cidade</label>
            <div class="control select">
              <select [(ngModel)]="filter.city" class="input" name="city" id="city">
                <option value="">Selecione...</option>
                <option *ngFor="let city of cities | async" value="{{city.nome}}">
                  {{ city.nome }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="column is-12">
          <div class="buttons is-right">
            <button class="button is-light" type="button" (click)="cleanFiltersAndSearch()">
              Limpar
            </button>
            <button class="button is-link" type="button" (click)="pagination.offset = 0; getPlaces()">
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <p *ngIf="places.length === 0" class="has-text-grey has-text-centered">Não encontramos nenhum resultado.</p>
    <div *ngIf="places.length > 0">
      <div class="columns is-multiline">
        <div class="column is-4" *ngFor="let place of places">
          <div class="card place-card">
            <div class="card-image has-background-primary" [style]="{ 'background-image': place.pictureUrl ? 'linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.1) 100%), url(' + place.pictureUrl + ')' : '' }"></div>
            <div class="card-content">
              <h3 class="title is-4">{{ place.title }}</h3>
              <p class="subtitle is-6 mb-0">{{ place.type }}</p>
              <bar-rating [(rate)]="place.rating" theme="stars" [readOnly]="true"></bar-rating>
              <div class="tags">
                <span class="tag" *ngIf="checkIfAccessibiltyExists(place, 'estacionamento')">
                  <span class="icon">
                    <i class="fas fa-car"></i>
                  </span>
                  <span>estacionamento</span>
                </span>
                <span class="tag" *ngIf="checkIfAccessibiltyExists(place, 'entrada_facilitada')">
                  <span class="icon">
                    <i class="fas fa-door-open"></i>
                  </span>
                  <span>entrada facilitada</span>
                </span>
                <span class="tag" *ngIf="checkIfAccessibiltyExists(place, 'circulacao_interna')">
                  <span class="icon">
                    <i class="fas fa-walking"></i>
                  </span>
                  <span>circulação interna</span>
                </span>
                <span class="tag" *ngIf="checkIfAccessibiltyExists(place, 'banheiro_acessivel')">
                  <span class="icon">
                    <i class="fas fa-toilet"></i>
                  </span>
                  <span>banheiro acessível</span>
                </span>
                <span class="tag" *ngIf="checkIfAccessibiltyExists(place, 'sinalizacao')">
                  <span class="icon">
                    <i class="fas fa-map-signs"></i>
                  </span>
                  <span>sinalização</span>
                </span>
                <span class="tag" *ngIf="checkIfAccessibiltyExists(place, 'pap')">
                  <span class="icon">
                    <i class="fas fa-smile-beam"></i>
                  </span>
                  <span>posicionamento atitudinal positivo</span>
                </span>
              </div>
              <address *ngIf="place.address">
                CEP {{ place.address.zipCode }}<br>
                {{ place.address.city }}, {{ place.address.state }}<br>
                Bairro {{ place.address.neighborhood }}<br>
                {{ place.address.street }} {{ place.address.number }}{{ place.address.complement ? ', ' + place.address.complement : '' }}
              </address>
            </div>
            <footer class="card-footer">
              <a [routerLink]="'/estabelecimentos/' + place.id" class="card-footer-item">
                <span class="icon">
                  <i class="fas fa-eye"></i>
                </span>
                <span>
                  <b>Ver</b>
                </span>
              </a>
              <a [routerLink]="'/estabelecimentos/' + place.id + '/avaliar'" class="card-footer-item">
                <span class="icon">
                  <i class="fas fa-star"></i>
                </span>
                <span>
                  <b>Avaliar</b>
                </span>
              </a>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <nav class="pagination is-centered" role="navigation" aria-label="paginação">
      <button class="pagination-previous"
        (click)="this.pagination.offset = pagination.offset - this.pagination.limit; getPlaces()"
        [disabled]="pagination.offset === 0">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span>
          Anterior
        </span>
      </button>
      <button class="pagination-next"
        (click)="this.pagination.offset = pagination.offset + this.pagination.limit; getPlaces()"
        [disabled]="pagination.total <= pagination.offset + this.pagination.limit">
        <span>
          Próxima
        </span>
        <span class="icon">
          <i class="fas fa-chevron-right"></i>
        </span>
      </button>
      <ul class="pagination-list">
        <li>
          <button class="pagination-link is-current"
            [attr.aria-label]="'Página ' + ((pagination.offset + this.pagination.limit) / this.pagination.limit)"
            aria-current="página">
            Página {{ (pagination.offset + this.pagination.limit) / this.pagination.limit }}
        </button>
        </li>
      </ul>
    </nav>
  </div>
</section>
