<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title is-1">Estabelecimentos</h1>
          <p class="subtitle">Aqui você pode ver, aprovar e excluir estabelecimentos</p>
        </div>
        <div class="column has-text-right">
          <a [routerLink]="'/adicionar'" class="button is-light">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>
              Adicionar
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="box over-top-box">
      <h3 class="title is-5">Buscar</h3>
      <div class="columns is-multiline">
        <div class="column is-3">
          <div class="field">
            <label for="estabelecimento">Nome do estabelecimento</label>
            <div class="control">
              <input [(ngModel)]="filter.titulo" class="input" type="text" id="estabelecimento" name="estabelecimento">
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div class="field">
            <label for="tipo">Tipo</label>
            <div class="control">
              <div class="select">
                <select [(ngModel)]="filter.tipo" class="input" name="tipo" id="tipo">
                  <option value="">Selecione...</option>
                  <option value="Restaurante">Restaurante</option>
                  <option value="Academia">Academia</option>
                  <option value="Mercado">Mercado</option>
                  <option value="Super Mercado">Super Mercado</option>
                  <option value="Salão de Beleza">Salão de Beleza</option>
                  <option value="Banco">Banco</option>
                  <option value="Loja">Loja</option>
                  <option value="Escola">Escola</option>
                  <option value="Faculdade">Faculdade</option>
                  <option value="Hotel">Hotel</option>
                  <option value="Motel">Motel</option>
                  <option value="Clínica">Clínica</option>
                  <option value="Hospital">Hospital</option>
                  <option value="Farmácia">Farmácia</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div class="field">
            <label for="status">Situação</label>
            <div class="control">
              <div class="select">
                <select [(ngModel)]="filter.status" class="input" name="status" id="status">
                  <option value="">Selecione...</option>
                  <option value="pendente">Pendente</option>
                  <option value="aprovado">Aprovado</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div class="field">
            <label for="estado">Estado</label>
            <div class="control">
              <div class="select">
                <select (change)="getCities()"
                  [(ngModel)]="filter.estado"
                  class="input"
                  name="estado"
                  id="estado">
                  <option value="">Selecione...</option>
                  <option value="AC">Acre</option>
                  <option value="AL">Alagoas</option>
                  <option value="AP">Amapá</option>
                  <option value="AM">Amazonas</option>
                  <option value="BA">Bahia</option>
                  <option value="CE">Ceará</option>
                  <option value="DF">Distrito Federal</option>
                  <option value="ES">Espírito Santo</option>
                  <option value="GO">Goiás</option>
                  <option value="MA">Maranhão</option>
                  <option value="MT">Mato Grosso</option>
                  <option value="MS">Mato Grosso do Sul</option>
                  <option value="MG">Minas Gerais</option>
                  <option value="PA">Pará</option>
                  <option value="PB">Paraíba</option>
                  <option value="PR">Paraná</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PI">Piauí</option>
                  <option value="RJ">Rio de Janeiro</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="RS">Rio Grande do Sul</option>
                  <option value="RO">Rondônia</option>
                  <option value="RR">Roraima</option>
                  <option value="SC">Santa Catarina</option>
                  <option value="SP">São Paulo</option>
                  <option value="SE">Sergipe</option>
                  <option value="TO">Tocantins</option>
                  <option value="EX">Estrangeiro</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="field">
            <label for="cidade">Cidade</label>
            <ng-select class="custom" [items]="cities | async"
              [virtualScroll]="true"
              bindLabel="nome"
              bindValue="nome"
              id="cidade"
              [(ngModel)]="filter.cidade">
            </ng-select>
          </div>
        </div>
        <div class="column is-12">
          <div class="buttons is-right">
            <button class="button is-light" type="button" (click)="cleanFiltersAndSearch()">
              Limpar
            </button>
            <button class="button is-link" type="button" (click)="pagination.offset = 0; getPlaces()">
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <p *ngIf="places.length === 0" class="has-text-grey has-text-centered">Não encontramos nenhum resultado.</p>
    <div *ngIf="places.length > 0">
      <div class="columns is-multiline">
        <div class="column is-6" *ngFor="let place of places; let index = index">
          <div class="card place-card">
            <div class="card-image has-background-primary"></div>
            <div class="card-content">
              <div class="columns">
                <div class="column">
                  <p><span class="tag" [class]="{ 'is-success': place.status === 'aprovado', 'is-warning': place.status === 'pendente' }">{{ place.status }}</span></p>
                  <h3 class="title is-4 mt-4">{{ place.titulo }}</h3>
                  <p class="subtitle is-6 mb-0">{{ place.tipo }}</p>
                  <bar-rating [(rate)]="place.avaliacao_media" theme="stars" [readOnly]="true"></bar-rating>
                </div>
                <div class="column">
                  <address>
                    CEP {{ place.endereco.cep }}<br>
                    {{ place.endereco.cidade }}, {{ place.endereco.estado }}<br>
                    Bairro {{ place.endereco.bairro }}<br>
                    {{ place.endereco.logradouro }} {{ place.endereco.numero }}{{ place.endereco.complemento ? ', ' + place.endereco.complemento : '' }}
                  </address>
                </div>
              </div>
              <div class="tags">
                <span class="tag" *ngIf="place.estacionamento">
                  <span class="icon">
                    <i class="fas fa-car"></i>
                  </span>
                  <span>estacionamento</span>
                </span>
                <span class="tag" *ngIf="place.entrada_facilitada">
                  <span class="icon">    
                    <i class="fas fa-door-open"></i>
                  </span>
                  <span>entrada facilitada</span>
                </span>
                <span class="tag" *ngIf="place.circulacao_interna">
                  <span class="icon">
                    <i class="fas fa-walking"></i>
                  </span>
                  <span>circulação interna</span>
                </span>
                <span class="tag" *ngIf="place.banheiro_acessivel">
                  <span class="icon">
                    <i class="fas fa-toilet"></i>
                  </span>
                  <span>banheiro acessível</span>
                </span>
                <span class="tag" *ngIf="place.sinalizacao">
                  <span class="icon">
                    <i class="fas fa-map-signs"></i>
                  </span>
                  <span>sinalização</span>
                </span>
                <span class="tag" *ngIf="place.pap">
                  <span class="icon">
                    <i class="fas fa-smile-beam"></i>
                  </span>
                  <span>posicionamento atitudinal positivo</span>
                </span>
              </div>
            </div>
            <footer class="card-footer">
              <a [routerLink]="'/estabelecimentos/' + place.id" class="card-footer-item">
                <span class="icon">
                  <i class="fas fa-eye"></i>
                </span>
                <span>
                  <b>Ver</b>
                </span>
              </a>
              <a *ngIf="place.status === 'pendente'" (click)="approvePlace(place.id, index)" class="card-footer-item has-text-success-dark">
                <span class="icon">
                  <i class="fas fa-thumbs-up"></i>
                </span>
                <span>
                  <b>Aprovar</b>
                </span>
              </a>
              <a (click)="deletePlace(place.id, index)"class="card-footer-item has-text-danger-dark">
                <span class="icon">
                  <i class="fas fa-trash"></i>
                </span>
                <span>
                  <b>Excluir</b>
                </span>
              </a>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <nav class="pagination is-centered" role="navigation" aria-label="paginação">
      <button class="pagination-previous"
        (click)="this.pagination.offset = pagination.offset - this.pagination.limite; getPlaces()"
        [disabled]="pagination.offset === 0">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span>
          Anterior
        </span>
      </button>
      <button class="pagination-next"
        (click)="this.pagination.offset = pagination.offset + this.pagination.limite; getPlaces()"
        [disabled]="pagination.total <= pagination.offset + this.pagination.limite">
        <span>
          Próxima
        </span>
        <span class="icon">
          <i class="fas fa-chevron-right"></i>
        </span>
      </button>
      <ul class="pagination-list">
        <li>
          <a class="pagination-link is-current"
            [attr.aria-label]="'Página ' + ((pagination.offset + this.pagination.limite) / this.pagination.limite)"
            aria-current="página">
            Página {{ (pagination.offset + this.pagination.limite) / this.pagination.limite }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>