@import 'variables.scss';
@import '~bulma/bulma.sass';
@import '~ngx-toastr/toastr';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~ngx-bar-rating/themes/br-stars-theme.css';
@import '~@ng-select/ng-select/themes/default.theme.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;

  &:focus-visible {
    border: 2px solid #ffffff !important;
    outline: 2px solid rgba(0, 125, 250, 0.6) !important;
  }
}

.title {
  font-weight: 700;
}

.subtitle {
  font-weight: 600;
}

.card {
  height: 100%;
  position: relative;
  padding-bottom: 50px;
  border-radius: 6px;
  .image img {
    border-radius: 6px 6px 0 0;
  }
  .card-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    a {
      &:first-of-type {
        border-bottom-left-radius: 6px;
      }
      &:last-of-type {
        border-bottom-right-radius: 6px;
      }
    }
  }
}

.navbar {
  transition: .4s;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  &.is-transparent {
    background: transparent;
    box-shadow: none;
    .navbar-item, .title {
      color: white;
    }
  }
}

.button {
  transition: .4s;
  border-radius: 6px;
}

.br-stars {
  margin: 10px 0 20px !important;
  .br-unit {
    width: 18px;
    height: 18px;
  }
}

.select {
  width: 100%;
}

button, a {
  cursor: pointer;
}

.ng-dropdown-panel.ng-select-top {
  bottom: -8px !important;
}

.over-top-box {
  position: relative;
  top: -75px;
  margin-bottom: -50px !important;
}

.place-card {
  // border-top: 5px solid $primary;
  .card-image {
    border-radius: 6px 6px 0 0;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.rating-card {
  border-top: 5px solid $info;
  &.no-footer {
    height: auto;
    padding-bottom: 0;
  }
}

.input-stars {
  .br-stars {
    margin: 0 0 0 5px !important;
    display: inline-block;
  }
}

body {
  margin-top: 56px;
}

.no-focus:focus {
  outline: none;
}

.place-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
