<section class="hero is-medium is-primary"
  [style]="{ 'background': 'linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.1) 100%), url(' + place.cover + ')' }">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">{{ place.title }}</h1>
      <p class="subtitle mb-0">{{ place.type }}</p>
      <bar-rating [(rate)]="place.rating" [theme]="'stars'" [readOnly]="true"></bar-rating>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <h3 class="title is-5 mb-3">Accessibilidades</h3>
          <div class="tags">
            <span class="tag" *ngFor="let a of place.accessibilities">
              <span class="icon">
                <i class="fas fa-car" *ngIf="a === 'estacionamento'"></i>
                <i class="fas fa-door-open" *ngIf="a === 'entrada facilitada'"></i>
                <i class="fas fa-walking" *ngIf="a === 'circulação interna'"></i>
                <i class="fas fa-toilet" *ngIf="a === 'banheiro acessível'"></i>
                <i class="fas fa-map-signs" *ngIf="a === 'sinalização'"></i>
                <i class="fas fa-smile-beam" *ngIf="a === 'posicionamento atitudinal positivo'"></i>
              </span>
              <span>
                {{ a }}
              </span>
          </span>
          </div>
        </div>
        <div class="box">
          <h3 class="title is-5 mb-3">Endereço</h3>
          <address>
            <p>{{ place.address.cep }}</p>
            <p>{{ place.address.city }}, {{ place.address.state }}</p>
            <p>Bairro {{ place.address.neighborhood }}</p>
            <p>{{ place.address.street }} {{ place.address.number }}{{ place.address.complement ? ', ' + place.address.complement : '' }}</p>
          </address>
        </div>
      </div>

      <div class="column">
        <h2 class="title is-4">Avaliações</h2>
        <div class="box" *ngFor="let rating of place.ratings">
          <h3 class="title is-5 mb-3">{{ rating.title }}</h3>
          <bar-rating [(rate)]="rating.rating" [theme]="'stars'" [readOnly]="true"></bar-rating>
          <p>{{ rating.text }}</p>
          <br>
          <small>{{ rating.user }}</small>
        </div>
      </div>
    </div>
  </div>
</section>