<ng-container *ngIf="place">
  <section class="hero is-primary is-medium place-hero" [style]="{ 'background-image': place.pictureUrl ? 'url(' + place.pictureUrl + ')' : '' }">
    <div class="hero-body">
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="title is-1">{{ place.title }}</h1>
      <p class="subtitle mb-0">{{ place.type }}</p>
      <bar-rating [(rate)]="place.rating" theme="stars" [readOnly]="true"></bar-rating>
      <hr>
      <div class="columns">
        <div class="column">
          <div class="box" *ngIf="place.phone.length > 0 || place.link.length > 0">
            <h3 class="title is-5 mb-3">Informações</h3>
            <p *ngIf="place.phone">Telefone: {{ place.phone }}</p>
            <p *ngIf="place.link">Site: <a [href]="place.link" target="_blank">{{ place.link }}</a></p>
          </div>
          <div class="box" *ngIf="place.accessibilities.length > 0">
            <h3 class="title is-5 mb-3">Accessibilidades</h3>
            <div class="tags">
              <span class="tag" *ngIf="checkIfAccessibiltyExists('estacionamento')">
                <span class="icon">
                  <i class="fas fa-car"></i>
                </span>
                <span>estacionamento</span>
              </span>
              <span class="tag" *ngIf="checkIfAccessibiltyExists('entrada_facilitada')">
                <span class="icon">
                  <i class="fas fa-door-open"></i>
                </span>
                <span>entrada facilitada</span>
              </span>
              <span class="tag" *ngIf="checkIfAccessibiltyExists('circulacao_interna')">
                <span class="icon">
                  <i class="fas fa-walking"></i>
                </span>
                <span>circulação interna</span>
              </span>
              <span class="tag" *ngIf="checkIfAccessibiltyExists('banheiro_acessivel')">
                <span class="icon">
                  <i class="fas fa-toilet"></i>
                </span>
                <span>banheiro acessível</span>
              </span>
              <span class="tag" *ngIf="checkIfAccessibiltyExists('sinalizacao')">
                <span class="icon">
                  <i class="fas fa-map-signs"></i>
                </span>
                <span>sinalização</span>
              </span>
              <span class="tag" *ngIf="checkIfAccessibiltyExists('site_acessivel')">
                <span class="icon">
                  <i class="fas fa-desktop"></i>
                </span>
                <span>site acessível</span>
              </span>
              <span class="tag" *ngIf="checkIfAccessibiltyExists('pap')">
                <span class="icon">
                  <i class="fas fa-smile-beam"></i>
                </span>
                <span>posicionamento atitudinal positivo</span>
              </span>
            </div>
          </div>
          <div class="box" *ngIf="place.address">
            <h3 class="title is-5 mb-3">Endereço</h3>
            <address>
              CEP {{ place.address.zipCode }}<br>
              {{ place.address.city }}, {{ place.address.state }}<br>
              Bairro {{ place.address.neighborhood }}<br>
              Descrição: {{place.address.descricao}} <br>
              {{ place.address.street }} {{ place.address.number }}{{ place.address.complement ? ', ' + place.address.complement : '' }}
            </address>
          </div>
        </div>

        <div class="column">
          <h2 class="title is-4">Avaliações</h2>
          <p *ngIf="ratings.length === 0" class="has-text-grey">Ninguém avaliou este lugar ainda.</p>
          <div class="card rating-card no-footer" *ngFor="let rating of ratings">
            <div class="card-content">
              <h3 class="title is-5 mb-3">{{ rating.title }}</h3>

              <bar-rating [(rate)]="rating.rating" [theme]="'stars'" [readOnly]="true"></bar-rating>

              <label><b>Comentário:</b></label><br>
              <p>{{ rating.comment }}</p>
              <br>

              <div class="columns">
                <div class="column">
                  <label><b>Pontos positivos:</b></label><br>
                  <p>{{ rating.strengths }}</p>
                </div>
                <div class="column">
                  <label><b>Pontos negativos:</b></label><br>
                  <p>{{ rating.weaknesses }}</p>
                </div>
              </div>

              <ul>
                <li *ngFor="let a of rating.accessibilities">
                  <b>{{ a.name }}: </b>{{ a.review }}
                </li>
              </ul>
              <small>Avaliação por {{ rating.user.name }}</small>
            </div>
          </div>
          <br>
          <button class="button is-light is-fullwidth"
            (click)="loadMoreRatings()"
            *ngIf="ratingsPagination.total > ratingsPagination.offset + ratingsPagination.limite">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>
              Carregar mais
            </span>
          </button>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<section class="hero is-fullheight is-primary" *ngIf="!place">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">404</h1>
      <p class="subtitle mb-0">Não encontramos esta página!</p>
      <br>
      <a [routerLink]="'/'" class="button is-white">Ver estabelecimentos</a>
    </div>
  </div>
</section>
